@use './../abstracts/' as *;

button {
    border: none;
    border-radius: $size-2;
    padding-inline: $size-4;
    padding-block: $size-2;

    cursor: pointer;
    box-shadow: $box-shadow-primary-small;
    transition: $animation-length-short ease-in-out;
    background-color: white;

    &:hover {
      scale: 1.05;
      box-shadow: $box-shadow-primary-medium;

    }

    &:active,
    &:focus-within {
      outline: $outline-accent;
      box-shadow: $box-shadow-primary-medium;
    }
  }


  .link-reset {
    color: inherit;
    text-decoration: none;
  }